<div data-id="commonDialog" class="modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" data-id="header">
			</div>
			<div class="modal-body" data-id="content">
				
			</div>
		</div>
	</div>
</div>
