<form data-id="loginForm" class="form-signin" accept-charset="UTF-8" role="form">
	<h2 class="form-signin-heading">Please sign in</h2>
	<div class="form-group">
		<input data-id="nameInput" type="text" class="form-control" placeholder="User name" name="username" required autofocus>
	</div>
	<div class="form-group">
		<input data-id="passwordInput" type="password" class="form-control" placeholder="Password" name="password" required>
	</div>
	<div data-id="loginErrorMsg"></div>
</form>
<button data-id="loginBtn" class="btn btn-lg btn-primary" >Sign in</button>