<!doctype html>
<html lang="en" ng-app="ws-console">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="">
 <title>Webswing.org console</title>
 <link rel="stylesheet" href="../css/bootstrap.css"/>
 <link rel="stylesheet" href="../css/webswing.css" />
 <link rel="stylesheet" href="css/app.css"/>
 
</head>
<body ng-controller="Application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">Webswing.org
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#/dashboard/overview" ng-click="location='dashboard';active='overview'">Dashboard</a></li>
          <li><a href="#/settings/overview" ng-click="location='settings';active='overview'">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
          <li>
            <span class="label label-success admin-connection-status" ng-if="connected">Connected</span>
            <span class="label label-danger admin-connection-status" ng-if="!connected">Disconnected</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar" ng-switch on="location">
        <div ng-switch-when="dashboard">
          <div ng-include="'partials/dashboard-sidebar.html'"></div>
        </div>
        <div ng-switch-when="settings">
          <div ng-include="'partials/settings-sidebar.html'"></div>
        </div>
      </div>
      <div ng-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
      <div class="message-area"><alert ng-repeat="m in messages" type="m.type" close="closeMessage($index)"><small>{{(m.time|date:"h:mm:ss")}} <br/> {{m.text}}</small></alert></div>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/ui-ace.js"></script>
  <script src="js/ui-utils.js"></script>
  <script src="js/ui-bootstrap.js"></script>
  <script src="../javascript/es6promise.js" type="text/javascript" charset="utf-8"></script>
  <script src="../javascript/ByteBuffer.js" type="text/javascript" charset="utf-8"></script>
  <script src="../javascript/ProtoBuf.js" type="text/javascript" charset="utf-8"></script>  
  <script src="../javascript/atmosphere-min.js"></script>
  <script src="../javascript/webswing-dd.js"></script>
  <script src="../javascript/webswing-base.js"></script>
  <script src="appjs/app.js"></script>
  <script src="appjs/services.js"></script>
  <script src="appjs/controllers.js"></script>
  <script src="appjs/filters.js"></script>
  <script src="appjs/directives.js"></script>
  <script src="acejs/ace.js" data-ace-base="acejs" type="text/javascript" charset="utf-8"></script>
</body>
</html>
