        <ul class="nav nav-sidebar">
          <li ng-class="{active: active == 'overview'}"><a href="#/settings/overview" ng-click="active='overview'">Runtime</a></li>
          <li ng-class="{active: active == 'edit'}"><a href="#/settings/edit" ng-click="active='edit'">Server configuration</a></li>
          <li ng-class="{active: active == 'users'}"><a href="#/settings/users" ng-click="active='users'">Users</a></li>
        </ul>