* {
	margin: 0;
	padding: 0;
} /* to remove the top and left whitespace */
body {
	background-image: url("../img/crossword.png");
}

html,body {
	width: 100%;
	height: 100%;
} /* just to be sure these are full screen*/
canvas {
	display: block;
} /* To remove the scrollbars */


.thumbnail  {
    max-width: 155px;
}

.fileDialogBar {
	display: none;
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	max-width: 480px;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 10px;
	background-color: #fff;
	border-color: #ddd;
}

.fileDialogButtonRow {
	padding-bottom: 10px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity =   0);
}

div[data-id="fileDropArea"] {
    border-style: dashed;
    border-color: #ccc;
    height: 30px;
    overflow:auto;
    margin-bottom: 5px;
}
div[data-id="fileDropArea"].in {
    height: 200px;
}

div[data-id="fileDropArea"] p {
    margin: 0 0 2px;
    padding-left: 10px;
    text-align: center;
}

.progress{
    margin-bottom: 0px;
}

.ws-hidden{
    display: none;
}

